.svgContainer {
    position: relative;
    background: rgb(196, 0, 0);
    z-index: 1;
    margin: .5rem;
}

.svgComponent {
}

.descriptionContainer {
    position: absolute;
    background: white;
}