.svgContainer {
    position: relative;
    margin: .5rem;
    cursor: pointer;
    background-color:var(--dark-background);
}

.svgComponent {
    z-index: 3;
}

.hoverProgress {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 180%;
    height: 180%;
    transform: translate(-50%,-50%);
    z-index: -1;
}