:root {
  --dark-background: #101f2c;
  --light-background: #1060a1;
}

.app {
  background-color: var(--dark-background);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
